* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
html, body {
    height: 100%;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    background: #666;
    z-index: 2;
}
#lib {
    height: -moz-calc(100% - 64px);
    position: fixed;
    width: 200px;
    border-right: 1px solid black;
    top: 64px;
    left: 0;
    z-index: 1;
    background: #eef;
    position: relative;
}
#lib canvas {
    margin: 4px;
    width: 192px;
    height: 50px;
    background: #000;
}
#timeline {
    position: absolute;
    top: 64px;
    left: 200px;
    height: -moz-calc(100% - 64px);
    width: -moz-calc(100% - 200px);
    background: #ccc;
    overflow: auto;
}
#ruler {
    height: 16px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #444;
    background: #ddd;
}
#timeline .track {
    height: 50px;
    margin: 10px 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #444;
    background: #ddd;
    position: relative;
}
#timeline .track .clip {
    height: 50px;
    background: #000;
}
header button {
    width: 48px;
    height: 48px;
    margin: 8px;
    border-radius: 24px;
    line-height: 48px;
}